* {
    font-family: 'Prompt', sans-serif;
    margin: 0rem;
    padding: 0rem;
    text-decoration: none;
    
    box-sizing: border-box;
} 
 :root{
   
   --DarkBlue: #1b1734; 
   --Indigo: #420364; 
   --Violet: #5C038C; 
   --Purple: #9865Bc; 
   --White: #fff;  
   --Neon: #B026FF; 



   


}

body {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  
}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5s ease;
    position: fixed;
  }
  .BgColour {
    
    transition: all 0.4s;
    background-color: black;
    -webkit-box-shadow: 0px 21px 22px 10px rgb(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 21px 22px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 21px 22px 10px rgba(0, 0, 0, 0.5);
}
  
  header .brand{
    background: -webkit-linear-gradient(27.97deg,  var(--Neon), var(--White));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: '';
    font-size: 3em;
    font-weight: 700;
    text-decoration: none;
    
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: var(--White);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background:var(--Neon);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }


  .goals {
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 300px;
    width: 800px;
    position: relative;
    left: 350px;
    bottom: 250px;
    margin: 0;
    padding: 20px;
    margin: 10;
     z-index: 5;
  }

  .contact {
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 300px;
    width: 1000px;
    position: relative;
    left: 240px;
    bottom: 300px;
    margin-bottom: 100px;
    top: 0px;
    padding: 20px;
    overflow:hidden;
  }

  .rohit {
      position: relative;
      top: 100px;
      left: 90px;
      font-size: 2rem;
      color: rgb(51, 51, 51);
  }


  .rohit a {
    color: rgb(51, 51, 51);
  }