* {
    font-family: 'Prompt', sans-serif;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    
} 
 :root{
   
   --DarkBlue: #1b1734; 
   --Indigo: #420364; 
   --Violet: #5C038C; 
   --Purple: #9865Bc; 
   --White: #fff;  
   --Neon: #B026FF; 
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
  position: fixed;
  background-color: black;
  -webkit-box-shadow: 0px 21px 22px 10px rgb(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 21px 22px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 21px 22px 10px rgba(0, 0, 0, 0.5);
}


header .brand{
  background: -webkit-linear-gradient(27.97deg,  var(--Neon), var(--White));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: '';
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: var(--White);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background:var(--Neon);
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 0.1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--DarkBlue);
  padding: 50px;
}



.home .content{
  z-index: 888;
  color : var(--White);
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active{
  display: block;
  margin:0 auto;
  text-align: center;

}

.home .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 5px;
}

.home .content h1 span{
  font-size: 0.8em;
  font-weight: 600;
}

.home .content p{
  margin-bottom: 35px;
  font-size: 1.8em;
  font-weight: 300;
}



.home .content a {
  background: linear-gradient(180deg, rgba(92,3,140,1) 0%, rgba(27,23,52,1) 100%);;
  padding: 15px 35px;
  color: var(--White);
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  transition: ease-in 0.5s;
}
.home .content a:hover{
  background: rgb(103,66,121);
  background: linear-gradient(180deg, rgba(103,66,121,1) 0%, rgba(255,255,255,1) 100%);
  color:var(--DarkBlue)
}
.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.introduction {
background-color: var(--DarkBlue);
color:var(--White);
width: 100%;
height: 280px;
padding: 50px 50px;
align-content: center;
display: inline-block;
text-align: center;

}


.introduction span {

color: var(--Neon);
font-size: 2em;
font-weight: 200;
text-shadow: 0px 0px 10px rgba(255,246,253,0.65);


}
.introduction h2 {
color: var(--Purple);
font-size: 3em;

}


.bgimg-3 {
background-image: url("../media/pexels-paul-theodor-oja-2393537.jpg");
min-height: 350px;
position: relative;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bgimg-4 {
background-image: url("../media/pexels-photo-707399.jpeg");
min-height: 350px;
position: relative;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.newsletter {
background-color:var(--DarkBlue) ;
font-size: 1.2em;
color: var(--White);
width: 100%;
height: 400px;
align-items: center;
padding:  0px;

}


.form1 {
  width: 600px;
  margin-left: 30%;
  height: 300px;
  position: relative;
  align-items: center;
  background: rgba(255, 33, 236, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(210, 9, 250, 0.18);
}





.form1 form {
  position: relative;
  align-items: center;
}

.form1 form input {
  position: relative;
  width: 500px;
  left: 50px;
  top: 80px;
  padding: 20px;
  color: gold;
  background: rgba(153, 18, 142, 0.15);
  box-shadow: 0 8px 32px 0 rgba(115, 15, 209, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(210, 9, 250, 0.18);
  font-size: 20px;
}

.form1 form button {
  position: relative;
  left: 260px;
  top: 90px;
  padding: 10px;
  background: rgba(153, 18, 142, 0.15);
  border: 1.5px solid gold;
  color: gold;
  width: 80px;

}


.form1 form button:hover {
  background-color: goldenrod;
  border: 3px solid rgb(29, 27, 14);
  color: rgb(29, 27, 14);
  cursor: pointer;
}















.contact {
background: linear-gradient(180deg, rgba(27,23,52,1) 0%, rgba(0,0,0,1) 100%);
font-size: 1.2em;
color: var(--White);
width: 100%;
height: 800px;
}


input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid rgb(0, 0, 0);
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
font-weight: bold;

}
input[type=email], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid rgb(0, 0, 0);
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
font-weight: bold;

}


input[type=submit] {
background: linear-gradient(180deg, rgba(103,66,121,1) 0%, rgba(255,255,255,1) 100%);
padding: 15px 35px;
font-size: 1em;
font-weight: 700;
text-decoration: none;
border-radius: 8px;
transition: ease-in 0.5s;
color: var(--DarkBlue);
cursor: pointer;
}

input[type=submit]:hover {
background: rgb(103,66,121);
background: linear-gradient(180deg, rgba(92,3,140,1) 0%, rgba(27,23,52,1) 100%);;
color:var(--White)
}





.footer .brand {
background: -webkit-linear-gradient(27.97deg,  var(--Neon), var(--White));
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: '';
font-size: 1em;
font-weight: 700;
text-decoration: none;
padding-left: 30px;

}


.footer .newsletterlink {

background: -webkit-linear-gradient(  var(--White), rgb(243, 183, 255) );
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: '';
font-weight: bold;

}

.footer {
display: flex;
flex-flow: row wrap;
padding: 30px 50px;
color: #fff;
background-color: var(--DarkBlue) ;
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 20px;
}

.footer span {
font-weight: 600;
font-size: 1.4em;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
color: #fff;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 50%;
margin-right: 1em;
padding-left: 80px;
}

.box a {
color: var(--White);
text-shadow: 2px 2px 6px #000000;
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color:var(--White);
padding-top: 20px;
text-shadow: 2px 2px 6px #000000;
}

.l-footer p {
padding-right: 20%;
padding-left: 30px;
color:var(--White);
text-shadow: 2px 2px 6px #000000;
}   

@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}








